
header{
    .logo{
        padding-top: 1.25em;
        padding-bottom: 1.25em;
        a{
            display: inline-block;
        }
    }
    .redes_sociales{
        line-height: 5em;
        text-align: right;
        a{
            border-radius: 50%;
            width: 2.5em;
            height: 2.5em;
            text-align: center;
            line-height: 2.5em;
            display: inline-block;
            background: navy;
            color: #fff;
            margin-left: 1.25em;
            &.youtube{
                background: #c05554;
            }
            &.facebook{
                background: #3b5998;
            }
            &.twitter{
                background: #55acee;
            }
        }
    }
    .menu{
        background: $azul_primario;
        margin-bottom: 1.25em;
        ul{
            list-style: none;
            overflow: hidden;
            margin: 0 auto;
            padding: 0 auto;
            li{
                float: left;
                display: inline-block;
                a{
                    color: white;
                    display: inline-block;
                    padding: 1em 1.25em;
                    font-size: 0.87em;
                    &:hover{
                        background: $azul_secundario;
                        text-decoration: none;
                    }
                }
            }
            
        }
    }
}