
.main,.sidebar{
    .titulo_seccion{
        h3{
            font-family: $font_family2;
            font-size: 1.5em;
            line-height: 1.5em;
            font-weight: normal;
            color: $gris_oscuro;
            padding-bottom: 10px;
            border-bottom: 4px solid $verde;
            margin-bottom: 1.25em;
        }
    }
}

.main{
    .titulo_seccion{
        >div{
            padding: 0;
        }
    }
    .posts{
        .post{
            margin-bottom: 1.875em;
        .contenedor{
            background: white;
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.308);
            margin-bottom: 1.5em;
            .thumb{
                img{
                    width: 100%;
                    vertical-align: top;
                    height: auto;
                }
            }
            .info{
                padding: 1.25em;
                .titulo{
                    margin-top: 0;
                    line-height: 1.125em;
                    margin-bottom: 1.25em;
                    font-size: 1.125em;
                    font-weight: bold;
                    a{
                        color: $gris_oscuro;
                    }
                }
            }
            .fecha{
                color: $gris_claro;
                font-size: 0.875em;
                margin-bottom: 1.25em;
            }
            .extracto{
                color: $texto;
                font-size: 1em;
                height: 8.125em;
                max-height: 8.125em;
                line-height: 1.75em;
                margin-bottom: 1.25em;
                overflow: hidden;
                &:hover{
                    overflow: auto;
                }
            }
            .categorias{
                ul{
                    list-style: none;
                    li{
                        display: inline-block;
                    }
                }
                a{
                    color: $gris_claro;
                    font-size: 1em;
                    font-weight: bold;
                    margin-right: 1.25em;
                    &:hover{
                        color: $azul_primario;
                        text-decoration: none;
                    }
                }
            }
        }
        }
        
    }

    .paginacion{
        justify-content: center;
        margin-top: -30px;
        li{
            a{
                color: $gris_claro;
                font-weight: normal;
                &:hover{
                    color: $azul_primario;
                }
            }
        }
        .wp-pagenavi{
            margin-bottom: 1.25em;
            .pages,span{
                background: $gris_oscuro;
                color: white;
                font-size: 1.125em;
                margin-right: 0.62em;
                line-height: 1.125em;
                padding: 0.62em 0.937em;
            }
            a{
                background: $azul_primario;
                color: white;
                margin-right: 0.62em;
                font-size: 1.125em;
                display: inline-block;
                padding: 0.62em 0.937em;
                &:hover{
                    background: $azul_secundario;
                    text-decoration: none;
                }
            }
        }
    }
}