
@media screen and(max-width: 768px) {
    header{
        .logo{
            text-align: center;
        }
        .redes_sociales{
            display: none;
        }
        .menu{
            width: 100%;
            ul{
                text-align: center;
                li{
                    float: none;
                }
            }
        }
    }
    .main{
        .posts{
            .post{
                .contenedor{
                    .extracto{
                        height: auto;
                    }
                }
            }
        }
    }
    .sidebar{
        display: none;
    } 
    footer{
        .menu{
            ul{
                text-align: center;
                li{
                    float: none;
                }
            }
        }
    }
}