
.sidebar{
    .widget{
        margin: 2.5em;
        &.redes_sociales{
            overflow: hidden;
            a{
                width: 32%;
                color: white;
                padding: 1.25em;
                float: left;
                text-align: center;
                display: inline-block;
                &:hover{
                    text-decoration: none;
                }
                &.youtube{
                    margin-right: 2px;
                    background: #cc181e;
                }
                &.twitter{
                    background: #00abf0;
                }
                &.facebook{
                    background: #3b5998;
                    margin-right: 2px;
                }
                .icono{
                    width: 100%;
                    font-size: 1.875em;
                    margin-bottom: 0.3em;
                }
            }
        }

        &.boletin{
            .formulario{
                background: #0e2b37;
                padding: 1.25em;
                text-align: center;
                label{
                    color: white;
                    margin-bottom: 1.25em;
                    display: block;
                    font-weight: normal;
                }
                input[type="email"]{
                    color: $gris_claro;
                    text-align: center;
                    padding: 0.625em;
                    font-size: 1.125em;
                    border-radius: 3px;
                    width: 100%;
                    border: none;
                    margin-bottom: 1.25em;
                    
                }
                input[type="submit"]{
                    background: $verde;
                    border: none;
                    padding: 0.5em 2.5em;
                    text-align: center;
                    border-radius: 3px;
                    color: white ;
                    &:hover{
                        background: #3cd744;
                        cursor: pointer;
                    }
                }
            }
        }

        &.ad{
            .contenedor_ad{
                text-align: center;
                a{
                    display: inline-block;
                    img{
                        width: 90%;
                    }
                }
            }
            
        }
    }
}