
$fondo: #f2f2f2;
$azul_primario: #5f6ad4;
$azul_secundario: #7780da;
$gris_oscuro: #3b3b3b;
$gris_claro: #909090;
$texto: #292929;
$verde: #48b04d;

$font_family: "Open Sans", Sans-serif;
$font_family2: "Oswald", Sans-serif;
$font_size: 16px;

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    background: $fondo !important;
    font-size: $font_size;
    font-family: $font_family;
    .ad{
        margin-bottom: 1.25em;
        text-align: center;
    }
    a{
        color: $azul_primario;
    }
}

.single_posts{
    margin-top: 47px;
    .single_categorias{
        margin-bottom: 15px;
    }
}
@import 'header';
@import 'main';
@import 'sidebar';
@import 'footer';
@import 'responsive';